 /*div{
    min-height: 200px;
    width: 500px;
    background-color: brown;
   margin-bottom:10px;
  overflow: scroll;
}
.second{

    height: 40px;
    width: 300px;
    background-color: rgb(42, 165, 73);
    padding-left: 10px;
}

span{
    background-color: rgb(245, 103, 202);
    height: 30px;
    width: 150px;
}

h1{
display: inline-block;

}
div{

    width: 400px;
    height: 300px;
    background-color: pink;
    position: absolute;
    left: 700px;
    top: 300px;
}


button:hover{
    
    border:4px solid blue;
    padding: 10px;
   
    
}

h4:hover{

    font-size: 100px;
    
}

input:focus{

    background-color: greenyellow;


div p:nth-child(05){
    color: aqua;
}}

p::first-letter{

    color: blanchedalmond;
}

p::selection{

    background-color: aquamarine;
}

p::before{
    content: "Hi";
}

p::after{
    content: "Hi";
}


VARIABLES



:root{

    --bg-color: green;
    --font-size: 10px;

    .h1{

      background-color: var(--bg-color);
      font-size: var(--font-size);
    }

    
    .h2{
        background-color: var(--bg-color);  
      }
      
    .h3{
        background-color: var(--bg-color);  
      }

    .h4{
        background-color: var(--bg-color);  
      }

    .h5{
        background-color: var(--bg-color);  
      }

  }*/
body{
    margin: 0;
}

  div{
    width: 1000px;
    height: 150px;
    background-color: rgb(34, 90, 90);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
  }

  .b1{
    background-color: beige;
  }
.b2{
    background-color: orange;
  
}
.b3{
    background-color: lightblue;

}
 



